* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

canvas {
    border: 1px solid black;
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
}

.pre {
    display: none;
}
